#'Stagiaire/Meidhy/MVC-19/.gitignore'
# On protège nos variables et constantes dangereuses
# du fichier config.php

config.php

# on refuse tous les fichiers de datas 
datas/*

# sauf le fichier zipper
!datas/projet.zip 


